@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif;
    background-color: #121212; 
    padding: 0;
    margin: 0;
    color: white;
}
body .page{
    margin: 20px 80px;
}

nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #121212;
    padding: 10px 0px;
}
nav .onglets{
    display: flex;
    flex-wrap:wrap;
    margin-top: 5px;
}
nav .onglets a{
    margin-right: 20px;
    cursor:pointer;
    text-decoration: none;
    color: white;
}
nav .buttons button{
    padding: 13px 20px;
    border:none;
    font-size: 15px;
    cursor: pointer;
    outline:none;
}
nav .buttons .login{
    background-color: inherit;
    margin-right: 10px;
    color: #8f8f8f;
}
nav .buttons .register{
    background-color:#f54266;
    margin-right: 10px;
    color: white;
}
header{
     margin-top: 40px;
     background:url('https://cdn.anime-pictures.net/previews/a9f/a9fee745eeb8ab106b869337164b7130_bp.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 600px 600px;
     

}
header h1{
    text-align: center;
    font-size: 60px;
    padding: 190px;    
}
footer{
    background-color: #1a1a1a;
    padding: 25px 100px;
    color: #828282;
}
footer .colonnes{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
@media screen and (max-width: 640px){
    body .page{
        margin: 10px;
    }
    nav .onglets{
        display: none;
    }
    header{
        margin-top: 20px;
        background-size: 250px 250px;
    }
    header h1{
        font-size: 30px;
        padding: 100px;
    }
}
